@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;700&family=Source+Sans+3:wght@300&display=swap");

body {
  font-family: "Source Sans 3", sans-serif;
  box-sizing: border-box;
}

.card-img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  flex-basis: 200px;
  /* to fix the bug relevant to using flex-basis on image */
  min-width: 0;
  min-height: 0;
}

/* layout  */

.card {
  background-color: #111d4a;
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.card-content {
  margin: 2em;
  margin-top: 1em;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5em;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 18px;
  }

  .card {
    flex-direction: row;
  }

  .card-img {
    min-width: 30%;
  }
}

/* typography */
.card-title,
.card-details p,
.card-btn {
  font-family: "Blinker", sans-serif;
}

.card-title {
  color: #05cbe9;
  font-size: 1.75em;
}

.card-body {
  opacity: 80%;
  line-height: 1.6;
  max-width: 500px;
}

.card-details p {
  opacity: 50%;
  margin: 0;
  font-size: 1.25rem;
}

.card-details p strong {
  font-weight: 700;
  font-size: 1.25em;
  display: block;
}

.card-btn {
  background-color: #05cbe9;
  color: #111d4a;
  font-weight: 700;
  font-size: 1.25em;
  border: 0;
  border-radius: 3px;
  padding: 0.5em 2.5em;
}
