@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap");

:root {
  --def-transition-duration: 0.3s;
}

* {
  font-family: "Merriweather", serif;
  line-height: 1.6;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  object-fit: cover;
  z-index: -2;
}

#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(15, 21, 37, 0.8);
  z-index: -1;
}

#hero {
  height: 50%;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
  margin: 0;
  padding: 1em 5% 0;
  z-index: 0;
}

.logo {
  font-size: 2em;
  letter-spacing: 5px;
  color: #f2e9e4;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav ul a {
  text-decoration: none;
  color: #c9ada7;
  display: inline-block;
  padding: 1.5em 0;
  transition-property: color;
}

nav ul a:hover {
  color: #f2e9e4;
}

.with-submenu {
  position: relative;
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: flex-start;
}

.with-submenu ul {
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  left: -3em;
  top: 100%;
  padding: 0.5em;
  background-color: #4a4e69;
  border-radius: 0.5em;
  transform: translateX(-3em);
  transition-property: opacity, visibility, transform;
}

.with-submenu:hover ul {
  transform: translateX(-1em);
  visibility: visible;
  opacity: 0.9;
}

.with-submenu ul a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  min-width: 10em;
  border-radius: 0.5em;
  transition-property: padding, background-color;
}

.with-submenu ul a::after {
  content: url(./icons/right-arrow.png);
  height: 17px;
  opacity: 0;
  transition-property: opacity;
}

.with-submenu ul a:hover {
  background-color: #9a8c98;
  padding: 1em 1.5em;
}

.with-submenu ul a:hover::after {
  opacity: 1;
}

nav ul a,
.with-submenu ul,
.with-submenu ul a,
.with-submenu ul a::after {
  transition-duration: var(--def-transition-duration);
  transition-timing-function: ease-in-out;
}
