@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6;
  color: #404040;
  font-size: 1rem;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
}

/*== typography ==*/

.intro-title {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
  line-height: 1.2;
  padding-top: 2.5em;
  margin: 0;
}

.intro-sub-title {
  font-size: 1.3125rem;
  color: #f18119;
  text-transform: uppercase;
  font-weight: 900;
}

.text-top {
  color: #f18119;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  border-top: 5px solid #f18119;
  border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
}

.main-content-title {
  color: #404040;
  font-size: 1.3125rem;
  margin: 0.4em 0 0;
}

.main-content-sub-title {
  color: #f18119;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  margin: 0;
}

.main-content-text {
  font-weight: 300;
}

.fine-print {
  font-size: 0.625rem;
}

strong {
  font-weight: 900;
}

/*== layout ==*/

/* intro */
.introduction {
  background-color: #404040;
  background-image: url(./images/ribs.jpg);
  background-blend-mode: multiply;
  padding: 0 0.25em 3em;
  background-size: cover;
  background-position: center;
}

/* main */
.main-content {
  padding: 2em 1em;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* form */

.form {
  max-width: 300px;
}

input {
  font-family: inherit;
  text-align: inherit;
  padding: 0.75em;
  margin-bottom: 0.75em;
  border: 1px solid #404040;
  box-sizing: border-box;
}

input,
.btn {
  width: 100%;
  border-radius: 5px;
  transform: scale(1);
  transition: transform 250ms;
}

input:focus {
  transform: scale(1.1);
}

.btn {
  display: inline-block;
  padding: 1em 1.5em;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  border: 0;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background: linear-gradient(to left, #ff713b, #ffa51d);
  transform: scale(1);
  transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
  transform: scale(1.1);
}

/*== media queries ==*/

@media screen and (min-width: 624px) {
  body {
    font-size: 1.125rem;
    display: flex;
  }

  .intro-title {
    font-size: 3.5rem;
  }

  .intro-sub-title,
  .main-content-title {
    font-size: 1.75rem;
  }

  .introduction,
  .main-content {
    width: 50%;
    min-height: 100vh;
  }
}
